{% extends "layout.html" %}

{% block main_content %}
    <h5 id="first_word">Robert 'Bobby' Axelrod</h5>
    <p>is the CEO of Axe Capital, a multibillion dollar hedge fund.</p>
	<p> Known as "Axe" by friends and enemies alike, Bobby is an incredibly smart, and capable investor, able to see many moves ahead in his investments and appearing to come out ahead every time. He is hardly ever on the losing side and his intelligence, shrewdness, and decisive leadership win him awe and respect of friends and enemies. His intelligence and power also pull double to hide his hidden nature as a ruthless and vindictive player that takes no prisoners, causing many to fear his wrath should they ever cross him.</p>
    <br>
    <br>
	<img src="static/Bobby.png" alt="Bobby" id="image">
{% endblock %}