{% extends "layout.html" %}

{% block main_content %}
    <h5 id="first_word">Charles 'Chuck' Rhoades, Jr.</h5>
    <p>is the former United States Attorney for Southern District of New York and the current Attorney General of New York.</p>
    <p>Brilliant and brash, U.S. Attorney Chuck Rhoades is leading the fight against financial corruption in America. As the most powerful prosecutor in the country, he's won 81 insider trading cases -- and lost zero. But when criminal evidence turns up against wunderkind billionaire Bobby Axelrod, Chuck recognizes that he needs to proceed judiciously. Is his excess of caution due to his professionalism, or the fact that his wife works for Axelrod?</p>
    <br>
    <br>
    <img src="static/Chuck_Rhoades.png" alt="Chuck" id="image">
{% endblock %}