{% extends "layout.html" %}

{% block main_content %}
    <h5 id="first_word">Wendy Rhoades</h5>
    <p>is a psychiatrist by trade, Wendy Rhoades combines an avid intellect with a keen understanding of human nature.</p>
	<p> She used those skills to help Bobby Axelrod build his hedge fund from the ground up and now works as the company's star in-house performance coach. Wendy joined Axe Capital long before Chuck became the U.S. Attorney and she refuses to sacrifice her lucrative career for her husband's crusade.</p>
    <br>
    <br>
    <img src="static/Wendy.jpg" alt="Chuck" id="image">
{% endblock %}